{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <!-- Favicon -->
  <!-- <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon" /> -->
  
  <!-- Libs CSS -->
  <link rel="stylesheet" href="../static/css/libs.bundle.css" />
  
  <!-- Main CSS -->
  <link rel="stylesheet" href="../static/css/index.bundle.css" />
  
  <!-- Title -->
  <title>Introduction - Documentation</title></head>

<body class="bg-light">


  <!-- navbar -->
    {% include 'partials/header.html'%}
    
    {% if messages %}
    <br><br><br><br><br>
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}
</body>




<!-- javascript -->
<script src="../static/js/vendor.bundle.js"></script>
<script src="../static/js/index.bundle.js"></script>

</html>

