{% extends 'base.html' %}

{% block content %}
<div class="text-center">
<h1>MMA Events</h1>

<div class="row">
    <div class="col-4">
        <h2> Incoming events </h2>
        <br><br>
        <div class="accordion" id="accordionExample">
            {% for event in upcoming_events %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    {{event.name}}
                </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body text-center">
                    <strong>Fights</strong><br> {% for fight in fights %}
                                                    {% if fight.event.name == event.name %}  
                                                        {{fight}} <br>
                                                        
                                                    {% endif %}
                                                {% endfor %}
                    <strong>Date & Place</strong> <br> {{event.date_time}} <br> {{event.place}}
                </div>
                </div>
            </div>

            {% endfor %}


    </div>
    </div>
<div class="col"></div>
    <div class="col-4">
        <h2> Past events </h2>
        <br><br>
        <div class="accordion" id="accordionExample">
            {% for event in past_events %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    {{event.name}}
                </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Fights</strong><br> {% for fight in fights %}
                                                    {% if fight.event.name == event.name %}  
                                                    {% if fight.result == 1 %} (w) {% endif %} {{fight}} {% if fight.result == 2%} (w) {% endif %}<br>
                                                    {% endif %}
                                                {% endfor %}
                    <strong>Date & Place</strong> <br> {{event.date_time}} <br> {{event.place}}
                </div>
                </div>
</div>

        {% endfor %}



</div>

</div>
</div>
</div>
{% endblock %}