{% extends 'base.html' %}

{% block content %}
<h1>Profile List</h1>


{% if profiles %}
    {% for profile in profiles %}

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="\static\img\default_profile_pic.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><a href= "{% url 'profile' profile.user.id %}"> {{profile.user.username}}</a></h5>
              <p class="card-text">Favorite organization: {{profile.fav_org}}<br>
                Favorite fighter:  {{profile.fav_fighter}}</p>
              <p class="card-text"><small class="text-body-secondary">Last updated: {{profile.last_update}}</small></p>
            </div>
          </div>
        </div>
      </div>
        <br>
  

        <br>
    {% endfor %}
{% endif %}
{% endblock %}