{% extends 'base.html' %}

{% block content %}

{% if profile %} 

    <div class="container text-center">
        <div class="row">
            <div class= "col-8">
                <div class="row">
                    <h1>{{profile.user.username}}'s profile</h1>
                    
                </div>
                <br>
                {% for publication in publications %}
                    <div class="row">
                        <div class="alert alert-dark" role="alert">
                            {{publication.body}}
                            <small class= "text-muted">
                                {{publication.created_time}} By {{publication.user.username}}
                            </small>
                        </div>
                    </div>
                    <br>
                    {% endfor %}

                    
            </div>
            
            <div class= "col-4">
                <div class="card">
                    <div class="card-header">
                        Favorite fighter
                    </div>
                    <div class="card-body">
                    <p class="card-text">{{profile.fav_fighter}}</p>
                    </div>
                </div>
                <br>

                <div class="card">
                    <div class="card-header">
                        Favorite organization
                    </div>
                    <div class="card-body">
                    <p class="card-text">{{profile.fav_org}}</p>
                    </div>
                </div>
                <br>
                {% if request.user.id == profile.user.id %}
                <a href="{% url 'profile_update' %}" class="btn btn-warning">Update profile</a>
                {% endif %}

            </div>
        </div>
    </div>
        

{% endif %}

{% endblock %}