{% extends 'base.html' %}

{% block content %}
<section class="py-15 py-xl-20">
    <div class="container">
      <div class="row justify-content-center mb-6">
        <div class="col-lg-8 text-center">
          <h2 class="fw-bold"><span class="d-lg-block">You predictions.</span> How accruate are you ?</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-10" data-aos="fade-up">
          <div class="row separated">
            <div class="col-lg-7 p-5">
              <div class="d-flex align-items-end">
                <h5 class="fs-1 mb-0 me-2 lh-1 text-primary fw-bold">{{percentage}}%</h5>
                <p class="text-secondary">of your predictions have been accruate</p>
              </div>
            </div>
            <div class="col-lg-5 p-5">
              <div class="d-flex align-items-end">
                <h5 class="fs-1 mb-0 me-2 lh-1 text-primary fw-bold">{{total}}</h5>
                <p class="text-secondary">predictions </p>
              </div>
            </div>
            <div class="col-lg-5 p-5">
              <div class="d-flex align-items-end">
                <h5 class="fs-1 mb-0 me-2 lh-1 text-primary fw-bold">{{pending}}</h5>
                <p class="text-secondary">other pending predictions</p>
              </div>
            </div>
            <div class="col-lg-7 p-5">
              <div class="d-flex align-items-end">
                <h5 class="fs-1 mb-0 me-2 lh-1 text-primary fw-bold">to add</h5>
                <p class="text-secondary">ranking</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}