{% extends 'base.html' %}

{% block content %}
<section class="bg-black overflow-hidden">
    <div class="py-15 py-xl-20 d-flex flex-column container level-3 min-vh-100">
      <div class="row align-items-center justify-content-center my-auto">
        <div class="col-md-10 col-lg-8 col-xl-5">

          <div class="card">
            <div class="card-header bg-white text-center pb-0">
              <h5 class="fs-4">Register</h5>
            </div>
            <div class="card-body bg-white">
              
              <form method="POST">
                {% csrf_token %}
                
                    {{form.as_p}}
                
                <div class="d-grid mb-2">
                  <button type="submit" class="btn btn-lg btn-primary">Create Account</button>
                </div>
              </form>
            </div>
            <div class="card-footer bg-opaque-black inverted text-center">
              <p class="text-secondary">Already have an account? <a href="{% url 'login' %}" class="underline">Sign In</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <figure class="background background-overlay" style="background-image: url('/static/images/Tmobile_arena.jpg')"></figure>
  </section>
{% endblock %}