
.centered-element{
    margin-left: auto;
    margin-right: auto;}

.perso-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    color: #666666;
    padding: 20px;
    text-align: center;
    }
    
h2 {
    color: #FFE05D
}
.dark-header {
  background-color: #343a40; /* Dark color for the header */
  color: #fff; /* Light color for the text */
}