{% extends 'base.html' %}
{% block content %}


<div class="card mb-3">
  <img src="\static\img\UFC-Logo-2001.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ultimate Fighter Championship></h5>
    <p class="card-text"><a href="http://127.0.0.1:8000/organizations/1">Learn more about the UFC</a></p>
  </div>
</div>
<br>
<div class="card mb-3">
  <img src="\static\img\ONE_Championship-black_logo.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">ONE Championship></h5>
    <p class="card-text"><a href="http://127.0.0.1:8000/organizations/3">Learn more about the ONE Championship</a></p>
  </div>
</div>
<br>
<div class="card mb-3">
  <img src="\static\img\bellator-logo.webp" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Bellator></h5>
    <p class="card-text"><a href="http://127.0.0.1:8000/organizations/2">Learn more about the Bellator</a></p>
  </div>
</div>


 
      
{% endblock %}